/*==== Background ====*/
body
{
    background-color: #9AC9DA;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "header  header"
    "banner  banner"
    "aboutMe aboutMe"
    "footer  footer";
    margin:0px;
    height:100vh;
    
}
/*==== Header ====*/
header
{
    grid-area: header;
    display:flex;
    flex-direction:row;
    background-color: #326280;
    color:#e6f1f5;
    padding: 5px;

}
header h1
{
    align-content:center;
    font-size: 35px;
    margin:0px 50px 0px 50px;
}

/*==== Nav ====*/
header nav
{
    font-size:2rem;
    padding:10px;
}

/*==== Banner ====*/
.banner
{
    grid-area: banner;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: #4983A8;
    color:#e6f1f5;
}

/*==== Main ====*/



/*==== Footer ====*/

footer
{
    background-color: #326280;
    grid-area: footer;
}
footer h1
{
    color:#e6f1f5;
    padding: 3px;
}
footer ul
{
    font-size:15px;
}

/*==== Links ====*/
a
{
    text-decoration:none;
}
a:link
{
    color:#e6f1f5;
}

a:visited
{
    color:#e6f1f5;
}

a:hover
{
    color:#9AC9DA;
}

a:focus
{
    color:#9AC9DA;
}
a:active
{
    color:#b7ebeb;
}