/*==== Background ====*/
body
{
    background-image: url("Media/Portfolio_Background.png");
    background-repeat: repeat;
}
/*==== Header ====*/

/*==== Nav ====*/


/*==== About Me ====*/


/*==== Projects ====*/

    /*== Boo! ==*/

    /*== Seafarer's Legacy ==*/

    /*== Pizza is Ready! ==*/

/*==== Future Plans ====*/


/*==== Footer ====*/